<div class="loginpage">
    <header>
        <app-header></app-header>
    </header>
<div class="contents">
        <p>Email</p>
        <input type="email" placeholder="Write your email here please" />
        <p>Password</p>
        <input type="password" placeholder="Write your password here please" />
        <!-- <a class="forgot" href="#">Forgot password?</a> -->
        <button class="submit">
            Submit
        </button>
        <button class="existing-acc">
        <a href="login">Already have a account?</a>
    </button>  
</div>
</div>
